@page "/addCliente"
@using OrcamentoBlazor.Shared

@inject IClienteService ClienteService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager 
<h2> 
   Add Cliente 
</h2>

<div class="row">
   <div class="col-md-4">
      <form>
         <div class="form-group">
            <label for="Name" class="control-label">Nome</label>
            <input for="Name" class="form-control"
            @bind-value="@clienteModel.Nome" />
            <label for="City" class="control-label">Telefone</label>
            <input for="City" class="form-control"
            @bind-value="@clienteModel.Telefone" />
         </div>
         <div class="form-group">
            <button type="button" class="btn btn-primary"
            @onclick="() => CreateCliente()"> Save </button> 
            <button type="button" class="btn btn-warning"
            @onclick="() => cancel()">Cancel</button>
         </div>
      </form>
   </div>
</div>

@code {
   ClienteModel clienteModel = new ClienteModel();

   protected async Task CreateCliente()
   {
      var result = await ClienteService.Create(clienteModel);
      navigationManager.NavigateTo("/clientelist");
   }

   void cancel()
   {
      navigationManager.NavigateTo("/clientelist");
   }
}