@page "/addOrcamento"
@using OrcamentoBlazor.Shared

@inject IOrcamentoService OrcamentoService
@inject IClienteService ClienteService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager 
<h2> 
   Add Orcamento 
</h2>

<div class="row">
   <div class="col-md-4">
      <form>
         <div class="form-group">
            <label for="Cliente" class="control-label">Cliente</label>
            <select for="Cliente" class="form-control" 
                  @bind="@orcamentoModel.Cliente">
               <option value=0>[Selecione o Cliente]</option>
               @foreach (var cliente in clientes)
               {
                  <option value="@cliente.Id">@cliente.Nome</option>
               }
            </select>
         </div>
         <div class="form-group">
            <button type="button" class="btn btn-primary"
            @onclick="() => CreateOrcamento()"> Save </button> 
            <button type="button" class="btn btn-warning"
            @onclick="() => cancel()">Cancel</button>
         </div>
      </form>
   </div>
</div>

@code {
   OrcamentoModel orcamentoModel = new OrcamentoModel();
   List<ClienteModel> clientes = new List<ClienteModel>();

   protected override async Task OnInitializedAsync()
   {
      clientes = await ClienteService.FetchAll();
   }
   protected async Task CreateOrcamento()
   {
      orcamentoModel = await OrcamentoService.Create(orcamentoModel);
      navigationManager.NavigateTo($"/editOrcamento/{orcamentoModel.Id}");
   }

   void cancel()
   {
      navigationManager.NavigateTo("/orcamentolist");
   }
}