@page "/addProduto"
@using OrcamentoBlazor.Shared

@inject IProdutoService ProdutoService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager 
<h2> 
   Add Produto 
</h2>

<div class="row">
   <div class="col-md-4">
      <form>
         <div class="form-group">
            <label for="Name" class="control-label">Nome</label>
            <input for="Name" class="form-control"
            @bind-value="@produtoModel.Nome" />
            <label for="City" class="control-label">Preço</label>
            <input for="City" class="form-control"
            @bind-value="@produtoModel.Preco" />
         </div>
         <div class="form-group">
            <button type="button" class="btn btn-primary"
            @onclick="() => CreateProduto()"> Save </button> 
            <button type="button" class="btn btn-warning"
            @onclick="() => cancel()">Cancel</button>
         </div>
      </form>
   </div>
</div>

@code {
   ProdutoModel produtoModel = new ProdutoModel();

   protected async Task CreateProduto()
   {
      var result = await ProdutoService.Create(produtoModel);
      navigationManager.NavigateTo("/produtolist");
   }

   void cancel()
   {
      navigationManager.NavigateTo("/produtolist");
   }
}