@page "/editCliente/{id:int}"
@using OrcamentoBlazor.Shared

@inject IClienteService clienteService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<h2>
   Edit Cliente
</h2>
<div class="row">
   <div class="col-md-4">
      <form>
         <div class="form-group">
            <label for="Name" class="control-label">Name</label>
            <input for="Name" class="form-control"
               @bind-value="@cliente.Nome" />
            <label for="City" class="control-label">Telefone</label>
            <input for="City" class="form-control"
               @bind-value="@cliente.Telefone" />
         </div>
         <div class="form-group">
            <button type="button" class="btn btn-primary"
               @onclick="() => UpdateCliente()"> Save </button> 
            <button type="button" class="btn btn-warning"
               @onclick="() => cancel()">Cancel</button>
         </div>
      </form>
   </div>
</div>
 
@code  {
 
   [Parameter]
   public int id { get; set; }

   ClienteModel cliente = new ClienteModel();

   protected override async Task OnInitializedAsync()
   {
      cliente = await clienteService.GetById(id);
   }
 
   protected async Task UpdateCliente()
   {
      await clienteService.Update(cliente);
      navigationManager.NavigateTo("/clientelist");
   }
 
   void cancel()
   {
      navigationManager.NavigateTo("/clientelist");
   }
}