@page "/editProduto/{id:int}"
@using OrcamentoBlazor.Shared

@inject IProdutoService produtoService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<h2>
   Edit Produto
</h2>
<div class="row">
   <div class="col-md-4">
      <form>
         <div class="form-group">
            <label for="Name" class="control-label">Name</label>
            <input for="Name" class="form-control"
               @bind-value="@produto.Nome" />
            <label for="City" class="control-label">Preço</label>
            <input for="City" class="form-control"
               @bind-value="@produto.Preco" />
         </div>
         <div class="form-group">
            <button type="button" class="btn btn-primary"
               @onclick="() => UpdateProduto()"> Save </button> 
            <button type="button" class="btn btn-warning"
               @onclick="() => cancel()">Cancel</button>
         </div>
      </form>
   </div>
</div>
 
@code  {
 
   [Parameter]
   public int id { get; set; }

   ProdutoModel produto = new ProdutoModel();

   protected override async Task OnInitializedAsync()
   {
      produto = await produtoService.GetById(id);
   }
 
   protected async Task UpdateProduto()
   {
      await produtoService.Update(produto);
      navigationManager.NavigateTo("/produtolist");
   }
 
   void cancel()
   {
      navigationManager.NavigateTo("/produtolist");
   }
}