@page "/editOrcamento/{id:int}"
@using OrcamentoBlazor.Shared

@inject IOrcamentoService OrcamentoService
@inject IClienteService ClienteService
@inject IProdutoService ProdutoService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<h2>
   Edit Orcamento
</h2>
<div class="row">
   <div class="col-md-4">
      <form>
         <div class="form-group">
            <label for="Cliente" class="control-label">Cliente</label>
            <select for="Cliente" class="form-control" 
                  @bind="@orcamento.Cliente">
               <option value=0>[Selecione o Cliente]</option>
               @foreach (var cliente in clientes)
               {
                  <option value="@cliente.Id">@cliente.Nome</option>
               }
            </select>
            @if (orcamento.Id > 0)
            {
               <div class="form-group">
                  <label for="Produto" class="control-label">Produto</label>
                  <select for="Produto" class="form-control" 
                        @bind="@produtoId">
                     <option value=0>[Selecione o Produto]</option>
                     @foreach (var produto in produtos)
                     {
                        <option value="@produto.Id">@produto.Nome</option>
                     }
                  </select>
                  <button type="button" class="btn btn-primary"
                  @onclick="() => AdicionarProduto()"> Add Produto </button>
               </div>

               <table class="table table-bordered table-hover">
                  <thead>
                     <tr>
                        <th class="sort-th">
                           Id<span class="fa"></span>
                        </th>
                        <th class="sort-th">
                           Produto<span class="fa"></span>
                        </th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     @if (produtosOrcamento == null || produtosOrcamento.Count == 0)
                     {
                        <tr>
                           <td colspan="3">No Records to display</td>
                        </tr>
                     }
                     else
                     {
                        foreach (var produtos in produtosOrcamento)
                        {
                           <tr>
                              <td>@produtos.Id</td>
                              <td>@produtos.ProdutoNome</td>
                              <td>
                                 󠀠󠀠󠀠󠀠<a class="btn btn-warning" @onclick=@(() => DeleteProdutoOrcamento(produtos.Id))>
                                 Delete Produto
                                 </a>
                              </td>
                           </tr>
                        }
                     } 
                  </tbody>
               </table>
            }
         </div>
         <div class="form-group">
            <button type="button" class="btn btn-primary"
               @onclick="() => UpdateOrcamento()"> Save </button> 
            <button type="button" class="btn btn-warning"
               @onclick="() => cancel()">Cancel</button>
         </div>
      </form>
   </div>
</div>
 
@code  {
 
   [Parameter]
   public int id { get; set; }
   OrcamentoModel orcamento = new OrcamentoModel();
   int produtoId = 0;
   List<ClienteModel> clientes = new List<ClienteModel>();
   List<ProdutoModel> produtos = new List<ProdutoModel>();
   List<OrcamentoProdutoModel> produtosOrcamento = new List<OrcamentoProdutoModel>();

   protected override async Task OnInitializedAsync()
   {
      orcamento = await OrcamentoService.GetById(id);
      clientes = await ClienteService.FetchAll();
      produtos = await ProdutoService.FetchAll();
      produtosOrcamento = await OrcamentoService.FetchAllProdutos(id);
   }
 
   protected async Task UpdateOrcamento()
   {
      await OrcamentoService.Update(orcamento);
      navigationManager.NavigateTo("/orcamentolist");
   }

   protected async Task AdicionarProduto()
   {
      var res = await OrcamentoService.AddProduto(new OrcamentoProdutoModel() { Orcamento = orcamento.Id, Produto = produtoId });
      produtosOrcamento = await OrcamentoService.FetchAllProdutos(id);
   }

   protected async Task DeleteProdutoOrcamento(int idProduto)
   {
      await OrcamentoService.DeleteProduto(idProduto);
      produtosOrcamento = await OrcamentoService.FetchAllProdutos(id);
   }
 
   void cancel()
   {
      navigationManager.NavigateTo("/orcamentolist");
   }
}