@page "/orcamentolist"
@using OrcamentoBlazor.Shared

@inject IOrcamentoService orcamentoService

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0
/css/font-awesome.min.css" rel="stylesheet">
 
<style>
   .sort-th {
      cursor: pointer;
   }
 
   .fa {
      float: right;
   }
 
   .btn-custom {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 2px solid #000;
      margin: 0px 5px 0px 5px;
   }
</style>
 
<div>
   <a class="btn btn-primary"
      href='/addOrcamento'>Add new data</a>
</div>
<br />
 
@if (orcamentos == null)
{
   <p><em>Loading...</em></p>
}
else
{
   <div class="row col-md-3 pull-right">
      <input type="text"
             id="txtSearch"
             placeholder="Search Names..."
             class="form-control"
             @bind="SearchTerm"
             @bind:event="oninput" />
   </div>
   <table class="table table-bordered table-hover">
      <thead>
         <tr>
            <th class="sort-th"
               @onclick=@(() => SortTable("Id"))>
               Id<span class="fa" @(SetSortIcon("Id"))></span>
            </th>
            <th class="sort-th"
               @onclick=@(() => SortTable("Cliente"))>Cliente
               <span class="fa" @(SetSortIcon("Cliente"))></span>
            </th>
            <th class="sort-th"
               @onclick=@(() => SortTable("Produto"))>Produto
               <span class="fa" @(SetSortIcon("Produto"))></span>
            </th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         @if (orcamentos == null || orcamentos.Count == 0)
         {
            <tr>
               <td colspan="3">No Records to display</td>
            </tr>
         }
         else
         {
            foreach (var orcamento in orcamentos)
            {
               <tr>
                  <td>@orcamento.Id</td>
                  <td>@orcamento.ClienteNome</td>
                  <td>@orcamento.ProdutosList</td>
                  <td>
                     <a class="btn btn-primary"
                     href='/editOrcamento/@orcamento.Id'>Edit</a> 
                     󠀠󠀠󠀠󠀠<a class="btn btn-warning" @onclick=@(() => DeleteOrcamento(orcamento.Id))>
                       Delete
                     </a>
                  </td>
               </tr>
            }
         } 
      </tbody>
   </table>
   <div class="pagination">
      <button class="btn btn-custom"
         @onclick=@(async ()=>await NavigateToPage("previous"))>◀
      </button>
 
      @for (int i = startPage; i <= endPage; i++)
      {
         var currentPage = i;
         <button class="btn btn-custom btn-info"
            @onclick=@(async () =>await refreshRecords(currentPage))>
            @currentPage
         </button>
      }
 
      <button class="btn btn-custom"
         @onclick=@(async ()=>await NavigateToPage("next"))>▶
      </button> 
   </div>
}

@code {
   private string searchTerm;
   private string SearchTerm
   {
      get { return searchTerm; }
      set { searchTerm = value; FilterRecords(); }
   }
 
   List<OrcamentoModel> orcamentos;
   
   #region Pagination
 
   int totalPages;
   int totalRecords;
   int curPage;
   int pagerSize;
   int pageSize;
   int startPage;
   int endPage;
   string sortColumnName = "Id";
   string sortDir = "DESC";
 
   #endregion
 
   protected override async Task OnInitializedAsync()
   {
      //display total page buttons
      pagerSize = 3;
      pageSize = 5;
      curPage = 1;
      orcamentos = await orcamentoService.ListAll((curPage - 1) * pageSize, pageSize, sortColumnName, sortDir, searchTerm);
      totalRecords = await orcamentoService.Count(searchTerm);
      totalPages=(int)Math.Ceiling(totalRecords/(decimal)pageSize);
      SetPagerSize("forward");
   }
 
   protected async Task DeleteOrcamento(int id)
   {
      await orcamentoService.Delete(id);
      orcamentos = await orcamentoService.ListAll((curPage - 1) * pageSize, pageSize, sortColumnName, sortDir, searchTerm);
      totalRecords = await orcamentoService.Count(searchTerm);
      totalPages= (int)Math.Ceiling(totalRecords/(decimal)pageSize);
   }
 
   private bool isSortedAscending;
   private string activeSortColumn;
 
   private async Task<List<OrcamentoModel>> SortRecords(string columnName, string dir)
   {
      return await orcamentoService.ListAll((curPage - 1) * pageSize, pageSize, columnName, dir, searchTerm);
   }
 
   private async Task SortTable(string columnName)
   {
      if (columnName != activeSortColumn)
      {
         orcamentos = await SortRecords(columnName, "ASC");
         isSortedAscending = true;
         activeSortColumn = columnName;
      }
      else
      {
         if (isSortedAscending)
         {
            orcamentos = await SortRecords(columnName, "DESC");
         }
         else
         {
            orcamentos = await SortRecords(columnName, "ASC");
         }
 
         isSortedAscending = !isSortedAscending;
      }
      sortColumnName = columnName;
      sortDir = isSortedAscending ? "ASC" : "DESC";
   }
 
   private string SetSortIcon(string columnName)
   {
      if (activeSortColumn != columnName)
      {
         return string.Empty;
      }
      if (isSortedAscending)
      {
         return "fa-sort-up";
      }
      else
      {
         return "fa-sort-down";
      }
   }
 
   public async Task refreshRecords(int currentPage)
   {
      orcamentos = await orcamentoService.ListAll((currentPage-1)* pageSize, pageSize, sortColumnName, sortDir, searchTerm);
      curPage = currentPage;
      this.StateHasChanged();
   }
 
   public void SetPagerSize(string direction)
   {
      if (direction == "forward" && endPage < totalPages)
      {
         startPage = endPage + 1;
         if (endPage + pagerSize < totalPages)
         {
            endPage = startPage + pagerSize - 1;
         }
         else
         {
             endPage = totalPages;
         }
         this.StateHasChanged();
      }
      else if (direction == "back" && startPage > 1)
      {
         endPage = startPage - 1;
         startPage = startPage - pagerSize;
      }
      else
      {
         startPage = 1;
         endPage = totalPages;
      }
   }
 
   public async Task NavigateToPage(string direction)
   {
      if (direction == "next")
      {
         if (curPage < totalPages)
         {
            if (curPage == endPage)
            {
               SetPagerSize("forward");
            }
            curPage += 1;
         }
      }
      else if (direction == "previous")
      {
         if (curPage > 1)
         {
            if (curPage == startPage)
            {
               SetPagerSize("back");
            }
            curPage -= 1;
         }
      }
      await refreshRecords(curPage);
   }
 
   public async void FilterRecords()
   {
      endPage = 0;
      await this.OnInitializedAsync();
   }
}